<document>
    <catalogTemplate>
      <banner>
        <title>Browse</title>
      </banner>
      <list>
        <section>
          <header>
            <title>Categories</title>
          </header>
        {{#each sections}}
          <listItemLockup>
            <title>{{this.title}} / {{this.subtitle}}</title>
            <decorationLabel>{{@index}}</decorationLabel>
            <relatedContent>
              <grid>
                <section>
                {{#each sections.programs}}
                  <lockup>
                    <img src="{{this.src}}" width="320" height="180" />
                    <title class="text-white">{{this.name}}</title>
                  </lockup>
                {{/each}}
                </section>
              </grid>
            </relatedContent>
          </listItemLockup>
        {{/each}}
        </section>
      </list>
    </catalogTemplate>
</document>
